@import "tailwindcss";


:root {
  --bg-primary: #ffffff;
  --text-primary: #000000;
  /* other light mode variables */
}

.dark {
  --bg-primary: #1a202c;
  --text-primary: #ffffff;
  /* other dark mode variables */
}